.box {
    background-color: lightgray;
    padding: 20px;
    border: 1px ridge black;
}

.box-content {
    font-family: Arial;
    border: 6px solid rgb(255, 255, 255);
    margin: 10px;
    padding: 20px;
}

.bc2 {
    border: 1px solid black;
    padding: 9px;
    margin: auto;  
    background: white;

}

.bc3 {
    border: 1px solid black;
    padding: 50px;
    background: lightgray;
}
