body { 
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: #ececec;
    
}
  
.content {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#a{
    font-size: 14px;
    color:#045137;
}

h2 {
    color: #045137;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
}
  
.contact {
    box-shadow: 0px 0px 10px #a5a5a5;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    height: 150px;
    
}
  
.name {
    background-color: #045137;
    font-weight: bold;
    color: white;
    letter-spacing: 5px;
    border: 10px solid #045137;
    display:block;
    margin-top: 0px;
    
}


#a{
    color: #045137;
    text-align: right;
    margin-top: 10px;
    margin-right: 12px;
    
}


#b{
    font-size: 14px;
    font-weight: bold;
    text-align: right;
    margin-top: 5px;
    margin-right: 12px;
    
}

.mail{
    color: #045137;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 20px;
    line-height: 50px;
}

.phone{
    margin-left: 20px;
    line-height: 10px;
}
